
.table {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

}

.th{
    text-align: center;
    background-color: #221F1F;
    color: white;
}

.td{
    text-align: center;
}

.tableheader{
    background-color: lightgray;
}


.tdcredit{
    text-align: center;
    background-color: #C0C0C0;
    color: white;
}

.thcredit{
    text-align: center;
    background-color: #A9A9A9;
    color: white;
}

.buttoncredit{
    height: 50px;
    width: 150px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
